<!DOCTYPE html>
<html>
<head>
    <title>Mini-Front</title>
</head>
<body>
    <h1>Elija su opción de Búsqueda</h1>
    <form method="POST" action="/buscar">
        <h2 style="margin-top: 10px;">Búsqueda General</h2>
        <button type="submit" name="option" value="id_general">Buscar Pokemon por ID</button>
        <button type="submit" name="option" value="nombre_general">Buscar Pokemon por NOMBRE</button>
        <h2 style="margin-top: 10px;">Búsqueda ESPECIFICA</h2>
        <button type="submit" name="option" value="id_especifico">Buscar Pokemon por ID</button>
        <button type="submit" name="option" value="nombre_especifico">Buscar Pokemon por NOMBRE</button>

    </form>
</body>
</html>
